#projects {
  float: left;
  text-align: left;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: #EEE7DC;
}

h1 {
  font-family: helvetica;
  color: #007372;
  text-align: center;
}

h2{

    font-family: geneva;
    text-align: center;
}

p {
  font-family: geneva;
  font-size: 15px;
  margin-left: 200px;
  margin-right: 200px;
  color: black;
  text-align: center;
}

img {
  display: block;
  margin-top: 15px;
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #007372;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5%;
  text-align: center;
  font: geneva;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.topNavigationBar {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  background-color: #00a6a5;
  text-decoration:none;
}

.topNavigationBar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: geneva;
  font-size: 17px;
  text-decoration:none;
}

.topNavigationBar a:hover {
  background-color: #ddd;
  color: black;
}

.topNavigationBar a.active {
  float: left;
  background-color: #007372;
  color: white;
  text-decoration:none;
}